.venv/*
test_programm_cnn.py*
output/*
logs/*
output/training_curves_run_C.png
car_brand_classifier_cnn_full_improved.pth
car_brand_classifier_cnn_improved.pth
car_brand_classifier_weightedloss_512cnn_dataset_opt.pth
.gitignore
car_brand_classifier_weightedloss_512cnn_run_d.pth
.gitignore
car_brand_classifier_weightedloss_512cnn_run_f.pth
car_brand_classifier_weightedloss_512cnn_run_g.pth
car_brand_classifier_weightedloss_512cnn.pth
car_brand_classifier.pth
car_brand_resnet50_finetuned.pth
combined_dataset_2.csv
combined_dataset_opt_test.csv
combined_dataset_opt.csv
.gitignore
import_dataset_5060_test.ipynb
import_dataset_5060_train.ipynb
test_100_train.py
test_programm_cnn_data_augmentation.py
test_programm_cnn_kopie_2.py
test_programm_cnn_kopie_3.py
test_programm_cnn_kopie_4_run_a.py
test_programm_cnn_kopie_4_run_b.py
test_programm_cnn_kopie_4_run_c.py
test_programm_cnn_kopie_4_run_d.py
test_programm_cnn_kopie_4_run_e.py
test_programm_cnn_kopie_4_run_f.py
test_programm_cnn_kopie_4_run_g.py
test_programm_cnn_kopie_5_dataset_opt_run_a.py
test_programm_cnn_kopie_5_dataset_opt.py
test_programm_cnn.py
train.py
test_programm_cnn_kopie.py
test_programm_cnn_kopie_6_dataset_opt_resnet.py
